.home-main {
    padding: 27px 40px;
    display: flex;
    justify-content: center;
}

.home-title {
    color: var(--color-font-secondary);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.home-subtitle {
    color: var(--color-font-tertiary);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
}

@media (min-width: 576px) {

    .home-main {
        justify-content: start;
    }

    .home-title {
        font-size: 48px;
    }

    .home-subtitle {
        font-size: 24px;
    }
}