.find-main {
    padding: 54px 20px;
}

.find-container {
    background-color: var(--color-card-bg-primary);
    height: 270px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 0;
    margin-bottom: 54px;
}

.find-title-container {
    margin-bottom: 24px;
}

.find-title {
    color: var(--color-font-senary);
    font-weight: 500;
    font-size: 24px;
}

@media (min-width: 576px) {
    .find-container {
        align-items: flex-start;
        padding: 54px 0 0 30px;
    }

    .find-title {
        font-size: 38px;
    }

    .input-container {
        margin-bottom: 24px;
    }

    .find-title-container {
        margin-bottom: 14px;
    }

    .find-input {
        width: 300px;
    }
}

.input-container {
    margin-bottom: 30px;
}

.find-input {
    height: 40px;
    width: 250px;
    padding: 0 17px;
    border: 1px solid var(--color-border-primary);
    border-radius: 4px;
    color: var(--color-font-secondary);
}

.find-input::placeholder {
    color: var(--color-font-quaternary);
}

.profile-container {
    background-color: var(--color-card-bg-secondary);
    border-radius: 8px;
    padding: 43px 38px;
    display: flex;
}

.picture-container {
    height: 247px;
    width: 247px;
    margin-right: 30px;
}

.profile-pic {
    max-height: 247px;
    max-width: 247px;
}

.profile-info-container {
    background-color: var(--color-card-bg-tertiary);
    border: 1px solid var(--color-border-primary);
    border-radius: 6px;
    padding: 8px 14px;
    width: 100%;
}

.info-title {
    color: var(--color-font-septenary);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.info-line {
    display: flex;
    width: 100%;
    border: 1px solid var(--color-border-primary);
    border-radius: 4px;
    padding: 10px 8px;
}

.info-key {
    color: var(--color-font-octonary);
    font-size: 16px;
    font-weight: 700;
    margin-right: 4px;
}

.info-value-address {
    color: var(--color-font-nonary);
    font-size: 16px;
    font-weight: 400;
}

.info-value {
    color: var(--color-font-octonary);
    font-size: 16px;
    font-weight: 400;
}