header {
    background-color: var(--color-bg-secondary);
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.header-title {
    color: var(--color-font-primary);
    font-size: 24px;
    font-weight: 500;
}

@media (min-width: 576px) {
    header {
        justify-content: start;
    }
}