.profile-container {
    background-color: var(--color-card-bg-secondary);
    border: 1px solid red;
    border-radius: 8px;
    padding: 43px 38px;
    display: flex;
}

.picture-container {
    height: 247px;
    width: 247px;
    margin-right: 30px;
}

.profile-pic {
    max-height: 247px;
    max-width: 247px;
}

.profile-info-container {
    background-color: var(--color-card-bg-tertiary);
    border: 1px solid var(--color-border-primary);
    border-radius: 6px;
    padding: 8px 14px;
}

.info-title {
    color: var(--color-font-septenary);
    font-weight: 500;
    font-size: 20px;
}